**/*.rs.bk
*.build
*.buildinfo
*.changes
*.deb
*.dsc
*.tar.?z
*~
.create-shell-completions
/.env
/docs/*/synopsis.rst
/docs/_ext/__pycache__/
/docs/api-viewer/*.css
/docs/api-viewer/*.js
/docs/api-viewer/*/*.png
/docs/config/*/config.rst
/docs/output
/target
/ui/dist
/ui/proxmox-datacenter-manager-ui-[0-9].*/
/ui/target
Cargo.lock
proxmox-datacenter-manager-[0-9].*/
